{::nomarkdown}
    </div>
  </div>
</section>
{:/}

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
    
      {% if site.conference.links.cfp_uri %}
      <div class="col-md-6">
        <div class="block">
          <h2>Call for Presentations</h2>
          <p>{{ site.conference.links.cfp_uri }}</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.conference.links.cfp_uri }}">Open Form</a>
        </div>
      </div>
      {% endif %}
      
      {% if site.conference.links.cfw_uri %}
      <div class="col-md-6">
        <div class="block">
          <h2>Call for Workshops</h2>
          <p>{{ site.conference.links.cfw_uri }}</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.conference.links.cfw_uri }}">Open Form</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>

{::nomarkdown}
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row block">
{:/}
