{::nomarkdown}
    </div>
  </div>
</section>
{:/}

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="feature-box">
      <h2>Important Dates</h2>
      <ul>
        <li>CfP Deadline: {{ site.conference.dates.deadline_cfp | date: "%B %e, %Y"}}</li>
        <li>Tickets registration opens {{ site.conference.dates.deadline_tickets | date: "%B %e, %Y"}}</li>
      </ul>
      <p></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="feature-box">
      <h2>Event details</h2>
      <ul>
        <li>Workshop Day: {{ site.conference.dates.workshops | date: "%B %e, %Y"}}</li>
        <li>Conference Day: {{ site.conference.dates.conference | date: "%B %e, %Y" }}</li>
      </ul>
      <p></p>
      </div>
    </div>
  </div>
  {% if site.conference.venue.maps_uri %}
  <div class="row">
    <div class="col-xs-12">
      <div class="feature-box">
      <h2>Venue</h2>
      <ul>
	<li><iframe src="{{ site.conference.venue.maps_uri }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></li>
      </ul>
      <p></p>
      </div>
    </div>
  </div>
  {% endif %}
</div>
</section>

{::nomarkdown}
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row block">
{:/}
